.body {
  background-color: #fff;
  top: 20;
  flex: 0 0 30%;
  max-width: 31%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 3000;
  position: relative;
  font: inherit;
  font-size: 100%;
  vertical-align: initial;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 90vh;
  pointer-events: auto;
  left: 0;
  margin-left: 60px;
  left: -700px;
  transition: left 010s ease;
}

.body__open {
  background-color: #fff;
  top: 0;
  flex: 30%;
  /* width: 395.5px; */
  height: 649.92px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 3000;
  position: relative;
  font: inherit;
  font-size: 100%;
  vertical-align: initial;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  height: 90vh;
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: -512px;
  transition: left 50s ease;
  left: 0;
}

.body__header {
  display: flex;
  padding-right: 20px;
  padding-left: 23px;
  z-index: 200;
  justify-content: center;
  background-color: #008069;
  height: 108px;
  flex-direction: column;
  box-sizing: border-box;
  align-content: center;
  color: #fff;
  flex: none;
  font: inherit;
  font-size: 100%;
  vertical-align: initial;
  outline: none;
  padding: 0;
  margin: o;
  border: 0;
}

.body__header > span {
  display: flex;
  flex-direction: row;
  height: 59px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 60px;
  position: relative;
  justify-content: space-between;
}

.body__header__text {
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
  font-size: inherit;
  cursor: default;
  right: 70px;
  width: fit-content !important;
}

.body__header__backArrow {
  margin-left: 20px !important;
  padding: 10px;
  width: 24px !important;
  height: 24px !important;
  cursor: pointer;
}

.body__header__backArrow:hover {
  margin-left: 20px !important;
  padding: 10px;
  width: 24px !important;
  height: 24px !important;
  pointer-events: painted;
}


.body__header__helpOutline {
  margin-right: 10px !important;
  align-items: center !important;
  justify-self: center !important;
  cursor: pointer !important;
  color: #fff;
}

.body__body {
  width: inherit;
  box-shadow: 0 1px 3px;
  animation-duration: 1s;
  margin-bottom: 0;
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
  animation-timing-function: cubic-bezier(0.1, 0.82, 0.25, 1);
  color: #3b4a54;
  user-select: none;
  text-rendering: optimizeLegibility;
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 440px;
  align-content: center;
  align-items: center;
}

.body__body__differentCommunity {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-items: center;
  margin-top: 160px;
}

.body__body__differentCommunity > span {
  display: flex;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 30px;
  padding-top: 12px;
  margin-left: 32px;
  margin-right: 32px;
  flex-grow: 0;
  min-height: 0;
  flex-shrink: 1;
  flex-basis: auto;
  min-width: o;
  margin-top: 28px;
  margin-bottom: 20px;
  justify-self: auto;
  align-items: center;
  align-self: auto;
  justify-content: flex-start;
  flex-wrap: nowrap;
  font: inherit;
  font-size: 100%;
  vertical-align: initial;
  outline: none;
  border: 0;
  background-color: #f7f8fa;
}

.body__body__tipIcon {
  width: 23px !important;
  height: 22px !important;
  color: #008069;
  margin-right: 10px;
}

.body__body__differentCommunityText {
  padding-left: 8px;
  text-align: center;
  color: #667781;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.4286;
  font-weight: normal;
  font: inherit;
  vertical-align: initial;
  outline: none;
  display: flex;
  justify-content: space-between;
}

.body__body__differentCommunityText > a {
  margin-right: 5px;
  text-decoration: none;
  color: #00a884;
  font: inherit;
  font-size: 100%;
  vertical-align: initial;
  outline: none;
  padding: 0;
  border: 0;
}

.body__body__differentCommunityText > a:hover {
  text-decoration: underline;
}

.body__body > img {
  width: 360px;
  height: 200px;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.body__body > h1 {
  margin-right: auto;
  margin-left: auto;
  color: #111b21;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  max-width: 20em;
  line-height: 1.5;
  font: inherit;
  vertical-align: initial;
  outline: none;
  padding: 0;
  border: 0;
}

.body__body > P {
  color: #3b4a54;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.4286;
  font-weight: normal;
  font: inherit;
  vertical-align: initial;
  outline: 0;
  padding: 0px;
  margin: 10px;
  border: 0;
  justify-self: center;
  width: 350px;
  height: 80px;
}

.body__body__seeCommunity {
  display: flex;
  margin: 5px;
}

.body__body__seeCommunity > a {
  color: #00a884;
  text-decoration: none;
  font: inherit;
  font-size: 100%;
  vertical-align: initial;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
  visibility: visible;
  pointer-events: all;
  font-size: 0.875rem;
  line-height: 1.4286;
  font-weight: normal;
}

.body__body__seeCommunity > a:hover {
  text-decoration: underline;
}

.body__body__seeCommunity {
  color: #00a884;
}

.body__body__communityImageHolder {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 200px;
  height: 200px;
  cursor: pointer;
  font: 0, 8125rem;
  font-size: 100%;
  vertical-align: initial;
  outline: none;
  border: none;
  isolation: isolate;
  overflow: hidden;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  align-items: center;
  flex-direction: column;
  z-index: 2300;
  background-color: rgba(84, 101, 111, 0.8);
  box-sizing: border-box;
  justify-content: center;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}

.body__body__communityImageInnerHolder {
  cursor: pointer;
  visibility: visible;
  pointer-events: auto;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 200px;
  height: 200px;
}

.body__body__communityIconButton {
  width: 100%;
  height: 100%;
}

.body__body__communityIcon {
  color: #8696a0;
  margin-top: -60px;
}

.body__body__communityIcon:hover {
  color: #8696a0;
  margin-top: -60px;
}

.body__body__communityImageCameraIconHolder {
  z-index: 3000;
  position: absolute;
  width: 100%;
  height: 100%;
}

.body__body__communityCameraIcon {
  color: #fff;
  z-index: 3000;
  align-self: center;
  justify-self: center;
  margin-left: 185px;
  margin-top: 120px;
  width: 24px;
  height: 24px;
  position: absolute;
}

.body__body__communityIconText {
  z-index: 3000;
  margin-top: 70px;
  width: 100px;
  overflow-wrap: break-word;
  font: inherit;
  font-size: 100%;
  vertical-align: initial;
  outline: none;
  padding: 0;
  border: 0;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding-left: 50px;
  position: absolute;
}

.body__body__refreshIconHolder {
  border-bottom-right-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
  border-top-left-radius: 50% !important;
  border-top-right-radius: 50% !important;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
  font-size: 100%;
  right: 0;
  border-left-color: #fff !important;
  border-bottom-color: #fff !important;
  border-right-color: #fff !important;
  border-top-color: #fff !important;
  border-right-style: solid !important;
  border-left-style: solid !important;
  border-top-style: solid !important;
  border-bottom-style: solid !important;
  border-right-width: 3px !important;
  border-left-width: 3px !important;
  border-top-width: 3px !important;
  border-bottom-width: 3px !important;
  /* background-color: transparent !important; */
  font-family: inherit !important;
  z-index: 2300 !important;
  /* position: absolute !important; */
  color: inherit !important;
  cursor: pointer !important;
  margin-top: -55px !important;
  /* margin-left: 0px !important; */
  left: 235px !important;
  bottom: 15px !important;
}

.body__body__refreshIconHolder:hover {
  color: inherit !important;
  background-color: #00a884 !important;
}

.body__body__refreshIcon {
  width: 15px !important;
  height: 25px !important;
  color: #fff;
  font-size: 1.89rem !important;
  transform: scale(1.8) !important;
}

.body__body__textInputHolder {
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 20px;
  /* padding-bottom: 28px; */
  font-size: 100%;
  font: inherit;
  outline: none;
  border-bottom: 2px solid #667781;
  position: relative;
  display: flex;
  align-items: flex-start;
  font-size: 100%;
  font: inherit;
  outline: none;
  vertical-align: initial;
  width: 267.5px;
  height: 33.98px;
  margin-left: 32px;
}

.body__body__textInputHolder__input {
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 20px;
  /* padding-bottom: 28px; */
  font-size: 100%;
  font: inherit;
  outline: none;
  border-bottom: 2px solid #00a884;
  position: relative;
  display: flex;
  align-items: flex-start;
  font-size: 100%;
  font: inherit;
  outline: none;
  vertical-align: initial;
  width: 267.5px;
  height: 33.98px;
  margin-left: 32px;
}

.body__body__textInputEmojiButton {
  position: absolute !important;
  width: 20px !important;
  height: 20px !important;
  margin-top: -40px !important;
  margin-left: -80 !important;
  top: 40px !important;
  left: 270px !important;
  padding: 5px;
}

.body__body__textInputInnerHolder {
  position: relative;
  word-wrap: break-word;
  font-size: 100%;
  font: inherit;
  outline: none;
  vertical-align: initial;
  padding: 0;
  margin: 0;
  border: 0;
}

.body__body__communityName {
  padding-top: 10px;
  width: 90%;
  margin-top: -60px;
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  color: rgba(17, 27, 33, 0.5);
  transform: translateY(24px);
  font: inherit;
  vertical-align: initial;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s var(cubic-bezier(0.1, 0.82, 0.25, 1));
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-left: -30px;
}

.body__body__textInput {
  min-height: 1.47em;
  user-select: text;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 1.47em;
  overflow-x: hidden;
  font-size: 1.0625rem;
  font: inherit;
  vertical-align: initial;
  justify-self: flex-start;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  width: 298.5px;
  height: 24.98px;
  margin-left: -30px;
  overflow-wrap: break-word;
  visibility: visible;
  pointer-events: auto;
  color: #3b4a54;
}

.body__body__description {
  padding-left: 8px;
  background-color: #f0f2f5;
  position: relative;
  word-wrap: break-word;
  font: inherit;
  font-size: 100%;
  vertical-align: initial;
  outline: none;
  border: 0;
  color: #3b4a54;
  width: 331.5px;
  height: 180.94px;
  margin-top: 50px;
  margin-left: 32px;
}

.body__body__descriptionMessageContainer {
  max-height: 7.35em;
  min-height: 7.35em;
  user-select: text;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 1.47em;
  /* overflow-x: hidden; */
  font-size: 1.0625rem;
  /* overflow-y: auto; */
  display: flex;
  width: inherit;
  height: inherit;
}

.body__body__descriptionMessage {
  text-indent: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  user-select: text;
  line-height: inherit;
  position: relative;
  font: inherit;
  font-size: 100%;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  color: #3b4a54;
  width: 264.34px;
  height: 96.95px;
}

.body__body__descriptionMessageEmoji {
  position: absolute !important;
  top: 30px !important;
  right: 15px !important;
  width: 20px;
  height: 20px;
}

.body__body__description__text {
  width: 331.5px;
  height: 20px;
}

.body__body > button {
  padding-left: 24px;
  padding-right: 24px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-right: 1px solid transparent;
  color: #fff;
  transition-duration: 0.18s;
  white-space: nowrap;
  display: inline-block;
  line-height: 1.1429;
  font-weight: 500;
  position: relative;
  transition-property: all;
  font-size: 0.875rem;
  padding-top: 10px;
  background-color: #00a884;
  transition-timing-function: ease-out;
  padding-bottom: 10px;
  outline-offset: 2px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  outline: none;
  cursor: pointer;
}

.body__body__createButton {
  border-bottom-left-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
  border-top-right-radius: 50% !important;
  border-top-left-radius: 50% !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px !important;
  padding-right: 0;
  cursor: pointer;
  transition-duration: 0.8s;
  padding-bottom: 0;
  display: flex;
  background-color: #00a884;
  align-items: center;
  color: #fff;
  margin-bottom: 0;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 0;
  font-weight: 500;
  font-size: 0.875rem;
  height: 46px !important;
  width: 46px !important;
  justify-content: center;
}

.body__body__createButtonForwardArrow {
  align-self: center !important;
  justify-self: center !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
